# Node modules and environment files
node_modules/
**/node_modules/

# Build directories
frontend/dist/
backend/build/

# Environment variables
frontend/.env
backend/.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db